<div style="text-align: center">
  <div style="width: 700px; margin: 0 auto; text-align: left;">
	<div>
		<div class="previous_month_link"><%= previous_month_link(current_date) %></div>
		<div class="next_month_link"><%= next_month_link(current_date) %></div>
	</div>
    <%= be_accountable %>
    <div id="responsibilities">
      <h2>Responsibilities for <span id="responsibilities_date"></span></h2>
      <ul></ul>
    </div>
  </div>
<div>
